.input-number {
    position: absolute !important;
    border: none !important;
    font-size: 22px !important;
    border-color: transparent !important;
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
}


.background {
    background-color: #f5f9fc;
    height: 4rem;
    width: auto;
}

.font-size {
    font-size: 14px;
}